In [121]:
import numpy as np
import pandas as pd
from sklearn.manifold import TSNE
import sys
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.tools as tls

In [109]:
tumors = pd.read_csv('input/planilhadetrabalhoestrodrigoegustavo2.csv', encoding='latin1')
del tumors['casenumber']
tumors.head(10)

,sample,Mass,atdiagnosis,stage,histopathology,disease,cytometry,Neventos,viabilidade,celtumoral,...,EPCAMtotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD58MFI,CD81MFI,CD90MFI,CD117MFI
0,abdominal,yes,yes,metastatic,neuroblastoma,neuroblastoma,neuroblastoma,1777355.0,7.0,76.8,...,875.00,7132.00,136.00,2503.00,209.0,625.00,622.0,4489.00,5433.00,229.00
1,abdominal,yes,no,,neuroblastoma,neuroblastoma,neuroblastoma,153916.0,6.0,10.0,...,105.00,4982.34,-920.00,1852.00,-16.0,50.90,133.4,1000.98,5834.92,158.88
2,BM,no,,metastatic,disease free,neuroblastoma,disease free,150000.0,96.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,abdominal,yes,yes,local,ganglioneuroblastoma,ganglioneuroblastoma,neuroblastoma,450000.0,13.0,93.0,...,1024.00,23361.00,-83.00,NaN,-77.0,981.00,NaN,10429.00,2680.00,262.00
4,abdominal,yes,yes,,neuroblastoma,neuroblastoma,neuroblastoma,408081.0,51.5,6.0,...,-163.00,2081.00,-47.00,1944.00,-2850.0,4997.96,199.0,3567.18,4130.00,1290.00
5,lymph node,yes,,metastatic,neuroblastoma,neuroblastoma,neuroblastoma,382319.0,92.6,10.3,...,-68.00,909.00,-12.00,206.00,519.0,969.00,98.0,3727.00,3182.00,226.00
6,PB,no,yes,metastatic,,neuroblastoma,disease free,300000.0,95.2,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,abdominal,yes,yes,local,adrenal carcinoma,adrenal carcinoma,non-hematopoietic solid tumor,400000.0,70.3,82.8,...,NaN,1953.90,127.95,632.67,-104.3,126.75,1142.6,-6.03,2677.59,100.53
8,head and neck,yes,yes,,neuroblastoma,neuroblastoma,neuroblastoma,152397.0,43.5,27.2,...,126.00,2752.00,147.00,1097.00,-9.6,579.00,830.0,10749.00,2303.00,942.00
9,BM,no,,metastatic,neuroblastoma,neuroblastoma,neuroblastoma,800000.0,79.0,41.3,...,1.88,3223.98,34.00,743.00,-1905.0,117.50,276.0,5848.00,4044.00,70.80

#### Listamos quais são os grupos de tumores que temos dados

In [110]:
all_groups = tumors.disease.unique()
for key in all_groups:
    print key

neuroblastoma
ganglioneuroblastoma
adrenal carcinoma
Extraesqueletal Ewing Sarcoma
reactive
rhabdomyosarcoma
undiferenciated malignant neoplasm
wilms tumor
nasopharyngeal carcinoma
hemangioperycitoma
germ cell
neoplasia fibrohistiocitaria cutanea do tip
Anaplastic lymphoma
Diffuse Large B cell Lymphoma
B lymphoblastic lymphoma/leukemia
Burkitt Lymphoma
Hodgkin Lymphoma
EBV related lymphoma
T lymphoblastic lymphoma
histiocytic sarcoma
hepatoblastoma
chondrosarcoma
hemangioma
pheochromocytoma
mesoblastic nephroma
histiocytosis
ganglioneuroma
clear cell sarcoma
osteosarcoma
cystic nephroma
renal carcinoma
pseudopapilary pancreatic solid tumor
thyroid-like follicular carcinoma of kidney
malignant nerve sheath tumor
T-cell/histiocyte rich B cell lymphoma
neurofibromatose

In [133]:
def plot_results(disease1, disease2, labels, res_X):
    
    disease1_x = []
    disease1_y = []
    disease2_x = []
    disease2_y = []
    for index in range(0, len(labels)):
        if labels[index] == disease1:
            disease1_x.append(res_X[index,0])
            disease1_y.append(res_X[index,1])
        else:
            disease2_x.append(res_X[index,0])
            disease2_y.append(res_X[index,1])

    trace0 = go.Scatter(
        x = disease1_x,
        y = disease1_y,
        name = disease1,
        mode = 'markers',
        marker = dict(
            size = 10,
            color = 'rgba(255, 0, 0, .9)',
            line = dict(
                width = 2,
                color = 'rgb(0, 0, 0)'
            )
        )
    )

    trace1 = go.Scatter(
        x = disease2_x,
        y = disease2_y,
        name = disease2,
        mode = 'markers',
        marker = dict(
            size = 10,
            color = 'rgba(0, 0, 255, .9)',
            line = dict(
                width = 2,
            )
        )
    )

    data = [trace0, trace1]
    return data
    #     layout = dict(title = disease1 + ' x ' + disease2,
    #                   yaxis = dict(zeroline = False),
    #                   xaxis = dict(zeroline = False)
    #                  )

    #title = disease1 + ' x ' + disease2
    #return dict(data=data, layout=layout), title
    
    #py.iplot(fig, filename=disease1 + ' x ' + disease2)

In [112]:
def tnse_res(raw_df):
    X = raw_df.values
    last_divergence = sys.maxint
    X_embedded = None
    for i in range(0,25):
        my_tse = TSNE(n_components=2)
        cur_X_embedded = my_tse.fit_transform(X)
        if last_divergence >= my_tse.kl_divergence_:
            X_embedded = cur_X_embedded
            last_divergence = my_tse.kl_divergence_
            
    print 'Lowest kl_divergence: ' + str(last_divergence)
    return X_embedded

In [113]:
def loop_one_on_one(disease1, disease2):
    result = []
    selected_df = tumors[(tumors.disease == disease1) ^ (tumors.disease == disease2)]
    marks_only_df = selected_df.iloc[:,11:]
    clean_df = marks_only_df.dropna(axis=1, how='any')
    if not clean_df.empty:
        print "\n"
        print disease1 + ' x ' + disease2
        display(clean_df)
        res_X = tnse_res(clean_df)
        labels = selected_df.dropna(axis=1, how='any').disease.values
        result = [disease1, disease2, labels, res_X]
        
    return result
    #plot_results(disease1, disease2, labels, res_X)

In [114]:
final_results = []
for j in range(0, len(all_groups) - 1):
    current_disease = all_groups[j]
    for k in range(j + 1, len(all_groups)):
        pair_disease = all_groups[k]
        res = loop_one_on_one(current_disease, pair_disease)
        if len(res) > 0:
            final_results.append(res)

ganglioneuroblastoma x adrenal carcinoma

     CD45MFI  CD56MFIPECy7   CD9MFI  CD38MFI   CD81MFI
3      -82.0       17072.0  23361.0    -77.0  10429.00
7       98.0        3803.0   1953.9   -104.3     -6.03
162    501.0       77137.0  27398.0     12.0  15080.00
163    289.0       13409.0  55119.0     87.0  13471.00
165    966.0       26626.0  66416.0    187.0  23830.00

Lowest kl_divergence: 0.110347382724


ganglioneuroblastoma x undiferenciated malignant neoplasm

     CD45MFI  CD56MFIPECy7   CD9MFI  CD38MFI  CD81MFI
3      -82.0       17072.0  23361.0    -77.0  10429.0
27     404.0       44098.0   7789.0    721.0   4860.0
162    501.0       77137.0  27398.0     12.0  15080.0
163    289.0       13409.0  55119.0     87.0  13471.0
165    966.0       26626.0  66416.0    187.0  23830.0
258   1004.0        8498.0    574.0    105.0  15182.0

Lowest kl_divergence: 0.13018335402


ganglioneuroblastoma x hemangioperycitoma

     CD45MFI  CD56MFIPECy7   CD9MFI  CD38MFI  CD81MFI
3      -82.0       17072.0  23361.0    -77.0  10429.0
32     269.0         612.0   1676.0    470.0    659.0
162    501.0       77137.0  27398.0     12.0  15080.0
163    289.0       13409.0  55119.0     87.0  13471.0
165    966.0       26626.0  66416.0    187.0  23830.0

Lowest kl_divergence: 0.110206432641


ganglioneuroblastoma x neoplasia fibrohistiocitaria cutanea do tip

     CD45MFI  CD56MFIPECy7
3      -82.0       17072.0
37     695.0         121.0
162    501.0       77137.0
163    289.0       13409.0
165    966.0       26626.0

Lowest kl_divergence: 0.110357426107


ganglioneuroblastoma x EBV related lymphoma

     CD45MFI  CD56MFIPECy7   CD9MFI  CD81MFI
3      -82.0       17072.0  23361.0  10429.0
61     165.0         636.0     13.0    636.0
162    501.0       77137.0  27398.0  15080.0
163    289.0       13409.0  55119.0  13471.0
165    966.0       26626.0  66416.0  23830.0

Lowest kl_divergence: 0.110426433384


ganglioneuroblastoma x chondrosarcoma

     CD45MFI  CD56MFIPECy7   CD9MFI  CD38MFI  CD81MFI
3      -82.0       17072.0  23361.0    -77.0  10429.0
100   1032.0        5209.0  53721.0    127.0  12911.0
162    501.0       77137.0  27398.0     12.0  15080.0
163    289.0       13409.0  55119.0     87.0  13471.0
165    966.0       26626.0  66416.0    187.0  23830.0

Lowest kl_divergence: 0.110396586359


ganglioneuroblastoma x renal carcinoma

     CD45MFI  CD56MFIPECy7
3      -82.0       17072.0
162    501.0       77137.0
163    289.0       13409.0
165    966.0       26626.0
251   1174.0        9846.0

Lowest kl_divergence: 0.110411733389


ganglioneuroblastoma x pseudopapilary pancreatic solid tumor

     CD45MFI  CD56MFIPECy7   CD9MFI  CD38MFI  CD81MFI
3      -82.0       17072.0  23361.0    -77.0  10429.0
162    501.0       77137.0  27398.0     12.0  15080.0
163    289.0       13409.0  55119.0     87.0  13471.0
165    966.0       26626.0  66416.0    187.0  23830.0
259   1124.0       42899.0  36998.0    194.0  13065.0

Lowest kl_divergence: 0.109970547259


ganglioneuroblastoma x neurofibromatose

     CD45MFI  CD56MFIPECy7   CD9MFI  CD38MFI  CD81MFI
3      -82.0       17072.0  23361.0    -77.0  10429.0
162    501.0       77137.0  27398.0     12.0  15080.0
163    289.0       13409.0  55119.0     87.0  13471.0
165    966.0       26626.0  66416.0    187.0  23830.0
308    767.0       18954.0   2174.0    437.0  14338.0

Lowest kl_divergence: 0.110391266644


adrenal carcinoma x undiferenciated malignant neoplasm

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
7,98.0,3803.0,1953.9,127.95,-104.3,126.75,-6.03,2677.59
27,404.0,44098.0,7789.0,2417.00,721.0,3173.00,4860.00,629.00
258,1004.0,8498.0,574.0,213.00,105.0,241.00,15182.00,402.00

Lowest kl_divergence: -7.94981076524e-08


adrenal carcinoma x hemangioperycitoma

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD58MFI,CD81MFI,CD90MFI,CD117MFI
7,98.0,3803.0,365.82,1953.9,127.95,632.67,-104.3,126.75,1142.6,-6.03,2677.59,100.53
32,269.0,612.0,167.00,1676.0,631.00,7220.00,470.0,291.00,3274.0,659.00,486.00,601.00

Lowest kl_divergence: 0.0


adrenal carcinoma x neoplasia fibrohistiocitaria cutanea do tip

    CD45MFI  CD56MFIPECy7  CD271MFItotal
7      98.0        3803.0         365.82
37    695.0         121.0          31.00

Lowest kl_divergence: 0.0


adrenal carcinoma x EBV related lymphoma

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
7,98.0,3803.0,365.82,1953.9,127.95,632.67,126.75,-6.03,2677.59,100.53
61,165.0,636.0,13.30,13.0,40.00,102.00,173.00,636.00,260.00,11.50

Lowest kl_divergence: 0.0


adrenal carcinoma x chondrosarcoma

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD58MFI,CD81MFI,CD90MFI,CD117MFI
7,98.0,3803.0,365.82,1953.9,127.95,632.67,-104.3,126.75,1142.6,-6.03,2677.59,100.53
100,1032.0,5209.0,766.00,53721.0,563.00,1301.00,127.0,440.00,2453.0,12911.00,10914.00,459.00

Lowest kl_divergence: 0.0


adrenal carcinoma x renal carcinoma

     CD45MFI  CD56MFIPECy7
7       98.0        3803.0
251   1174.0        9846.0

Lowest kl_divergence: 0.0


adrenal carcinoma x pseudopapilary pancreatic solid tumor

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
7,98.0,3803.0,1953.9,127.95,-104.3,126.75,-6.03,2677.59
259,1124.0,42899.0,36998.0,3192.00,194.0,440.00,13065.00,133.00

Lowest kl_divergence: 0.0


adrenal carcinoma x neurofibromatose

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
7,98.0,3803.0,365.82,1953.9,127.95,632.67,-104.3,126.75,-6.03,2677.59,100.53
308,767.0,18954.0,62897.00,2174.0,4610.00,9841.00,437.0,240.00,14338.00,522.00,422.00

Lowest kl_divergence: 0.0


undiferenciated malignant neoplasm x hemangioperycitoma

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
27,404.0,44098.0,7789.0,2417.0,721.0,3173.0,4860.0,629.0
32,269.0,612.0,1676.0,631.0,470.0,291.0,659.0,486.0
258,1004.0,8498.0,574.0,213.0,105.0,241.0,15182.0,402.0

Lowest kl_divergence: -4.15789652708e-10


undiferenciated malignant neoplasm x neoplasia fibrohistiocitaria cutanea do tip

     CD45MFI  CD56MFIPECy7
27     404.0       44098.0
37     695.0         121.0
258   1004.0        8498.0

Lowest kl_divergence: 1.97560812154e-08


undiferenciated malignant neoplasm x EBV related lymphoma

     CD45MFI  CD56MFIPECy7  CD9MFI  CD10MFI  CD57MFI  CD81MFI  CD90MFI
27     404.0       44098.0  7789.0   2417.0   3173.0   4860.0    629.0
61     165.0         636.0    13.0     40.0    173.0    636.0    260.0
258   1004.0        8498.0   574.0    213.0    241.0  15182.0    402.0

Lowest kl_divergence: -2.11731943089e-09


undiferenciated malignant neoplasm x chondrosarcoma

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
27,404.0,44098.0,7789.0,2417.0,721.0,3173.0,4860.0,629.0
100,1032.0,5209.0,53721.0,563.0,127.0,440.0,12911.0,10914.0
258,1004.0,8498.0,574.0,213.0,105.0,241.0,15182.0,402.0

Lowest kl_divergence: -2.21220926022e-08


undiferenciated malignant neoplasm x renal carcinoma

     CD45MFI  CD56MFIPECy7
27     404.0       44098.0
251   1174.0        9846.0
258   1004.0        8498.0

Lowest kl_divergence: -2.48270506376e-08


undiferenciated malignant neoplasm x pseudopapilary pancreatic solid tumor

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
27,404.0,44098.0,7789.0,2417.0,721.0,3173.0,4860.0,629.0
258,1004.0,8498.0,574.0,213.0,105.0,241.0,15182.0,402.0
259,1124.0,42899.0,36998.0,3192.0,194.0,440.0,13065.0,133.0

Lowest kl_divergence: -4.00241795262e-08


undiferenciated malignant neoplasm x neurofibromatose

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
27,404.0,44098.0,7789.0,2417.0,721.0,3173.0,4860.0,629.0
258,1004.0,8498.0,574.0,213.0,105.0,241.0,15182.0,402.0
308,767.0,18954.0,2174.0,4610.0,437.0,240.0,14338.0,522.0

Lowest kl_divergence: -5.63673829834e-11


hemangioperycitoma x neoplasia fibrohistiocitaria cutanea do tip

    CD45MFI  CD56MFIPECy7  CD271MFItotal
32    269.0         612.0          167.0
37    695.0         121.0           31.0

Lowest kl_divergence: 0.0


hemangioperycitoma x EBV related lymphoma

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
32,269.0,612.0,167.0,1676.0,631.0,7220.0,291.0,659.0,486.0,601.0
61,165.0,636.0,13.3,13.0,40.0,102.0,173.0,636.0,260.0,11.5

Lowest kl_divergence: 0.0


hemangioperycitoma x chondrosarcoma

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD58MFI,CD81MFI,CD90MFI,CD117MFI
32,269.0,612.0,167.0,1676.0,631.0,7220.0,470.0,291.0,3274.0,659.0,486.0,601.0
100,1032.0,5209.0,766.0,53721.0,563.0,1301.0,127.0,440.0,2453.0,12911.0,10914.0,459.0

Lowest kl_divergence: 0.0


hemangioperycitoma x renal carcinoma

     CD45MFI  CD56MFIPECy7
32     269.0         612.0
251   1174.0        9846.0

Lowest kl_divergence: 0.0


hemangioperycitoma x pseudopapilary pancreatic solid tumor

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
32,269.0,612.0,1676.0,631.0,470.0,291.0,659.0,486.0
259,1124.0,42899.0,36998.0,3192.0,194.0,440.0,13065.0,133.0

Lowest kl_divergence: 0.0


hemangioperycitoma x neurofibromatose

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
32,269.0,612.0,167.0,1676.0,631.0,7220.0,470.0,291.0,659.0,486.0,601.0
308,767.0,18954.0,62897.0,2174.0,4610.0,9841.0,437.0,240.0,14338.0,522.0,422.0

Lowest kl_divergence: 0.0


neoplasia fibrohistiocitaria cutanea do tip x EBV related lymphoma

    CD45MFI  CD56MFIPECy7  CD271MFItotal
37    695.0         121.0           31.0
61    165.0         636.0           13.3

Lowest kl_divergence: 0.0


neoplasia fibrohistiocitaria cutanea do tip x chondrosarcoma

     CD45MFI  CD56MFIPECy7  CD271MFItotal
37     695.0         121.0           31.0
100   1032.0        5209.0          766.0

Lowest kl_divergence: 0.0


neoplasia fibrohistiocitaria cutanea do tip x renal carcinoma

     CD45MFI  CD56MFIPECy7
37     695.0         121.0
251   1174.0        9846.0

Lowest kl_divergence: 0.0


neoplasia fibrohistiocitaria cutanea do tip x pseudopapilary pancreatic solid tumor

     CD45MFI  CD56MFIPECy7
37     695.0         121.0
259   1124.0       42899.0

Lowest kl_divergence: 0.0


neoplasia fibrohistiocitaria cutanea do tip x neurofibromatose

     CD45MFI  CD56MFIPECy7  CD271MFItotal
37     695.0         121.0           31.0
308    767.0       18954.0        62897.0

Lowest kl_divergence: 0.0


EBV related lymphoma x chondrosarcoma

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
61,165.0,636.0,13.3,13.0,40.0,102.0,173.0,636.0,260.0,11.5
100,1032.0,5209.0,766.0,53721.0,563.0,1301.0,440.0,12911.0,10914.0,459.0

Lowest kl_divergence: 0.0


EBV related lymphoma x renal carcinoma

     CD45MFI  CD56MFIPECy7
61     165.0         636.0
251   1174.0        9846.0

Lowest kl_divergence: 0.0


EBV related lymphoma x pseudopapilary pancreatic solid tumor

     CD45MFI  CD56MFIPECy7   CD9MFI  CD10MFI  CD57MFI  CD81MFI  CD90MFI
61     165.0         636.0     13.0     40.0    173.0    636.0    260.0
259   1124.0       42899.0  36998.0   3192.0    440.0  13065.0    133.0

Lowest kl_divergence: 0.0


EBV related lymphoma x neurofibromatose

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
61,165.0,636.0,13.3,13.0,40.0,102.0,173.0,636.0,260.0,11.5
308,767.0,18954.0,62897.0,2174.0,4610.0,9841.0,240.0,14338.0,522.0,422.0

Lowest kl_divergence: 0.0


chondrosarcoma x renal carcinoma

     CD45MFI  CD56MFIPECy7
100   1032.0        5209.0
251   1174.0        9846.0

Lowest kl_divergence: 0.0


chondrosarcoma x pseudopapilary pancreatic solid tumor

,CD45MFI,CD56MFIPECy7,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
100,1032.0,5209.0,53721.0,563.0,127.0,440.0,12911.0,10914.0
259,1124.0,42899.0,36998.0,3192.0,194.0,440.0,13065.0,133.0

Lowest kl_divergence: 0.0


chondrosarcoma x neurofibromatose

,CD45MFI,CD56MFIPECy7,CD271MFItotal,CD9MFI,CD10MFI,CD34MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI,CD117MFI
100,1032.0,5209.0,766.0,53721.0,563.0,1301.0,127.0,440.0,12911.0,10914.0,459.0
308,767.0,18954.0,62897.0,2174.0,4610.0,9841.0,437.0,240.0,14338.0,522.0,422.0

Lowest kl_divergence: 0.0


renal carcinoma x pseudopapilary pancreatic solid tumor

     CD45MFI  CD56MFIPECy7  GD2total
251   1174.0        9846.0   12260.0
259   1124.0       42899.0    1527.0

Lowest kl_divergence: 0.0


renal carcinoma x neurofibromatose

     CD45MFI  CD56MFIPECy7  GD2total
251   1174.0        9846.0   12260.0
308    767.0       18954.0    4758.0

Lowest kl_divergence: 0.0


pseudopapilary pancreatic solid tumor x neurofibromatose

,CD45MFI,CD56MFIPECy7,GD2total,CD9MFI,CD10MFI,CD38MFI,CD57MFI,CD81MFI,CD90MFI
259,1124.0,42899.0,1527.0,36998.0,3192.0,194.0,440.0,13065.0,133.0
308,767.0,18954.0,4758.0,2174.0,4610.0,437.0,240.0,14338.0,522.0

Lowest kl_divergence: 0.0

In [134]:
figures = []
titles = []
for res in final_results:
    print res
    fig, title = plot_results(res[0], res[1], res[2], res[3])
    figures.append(fig)
    titles.append(title)

[u'ganglioneuroblastoma', u'adrenal carcinoma', array([u'ganglioneuroblastoma', u'adrenal carcinoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma'], dtype=object), array([[ 14.630407 ,  29.253386 ],
       [ 46.7624   , -16.743235 ],
       [ 71.83053  ,   5.860201 ],
       [ 16.640749 ,  -4.4431553],
       [ 47.200504 ,  27.265402 ]], dtype=float32)]
[u'ganglioneuroblastoma', u'undiferenciated malignant neoplasm', array([u'ganglioneuroblastoma', u'undiferenciated malignant neoplasm',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma', u'undiferenciated malignant neoplasm'],
      dtype=object), array([[-35.765133,  28.531275],
       [-26.80155 ,  19.765152],
       [-37.86518 ,  40.91445 ],
       [-24.648233,  34.354843],
       [-41.345383,  17.290243],
       [-48.19355 ,  30.37007 ]], dtype=float32)]
[u'ganglioneuroblastoma', u'hemangioperycitoma', array([u'ganglioneuroblastoma', u'hemangioperycitoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma'], dtype=object), array([[-117.72819  ,  -24.460505 ],
       [-136.29399  ,  -11.393852 ],
       [-107.35128  ,   -5.1160684],
       [-132.72168  ,   10.211369 ],
       [-110.91548  ,   16.549782 ]], dtype=float32)]
[u'ganglioneuroblastoma', u'neoplasia fibrohistiocitaria cutanea do tip', array([u'ganglioneuroblastoma',
       u'neoplasia fibrohistiocitaria cutanea do tip',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma'], dtype=object), array([[ -33.405163 , -228.50206  ],
       [  -6.3275676, -191.24426  ],
       [   1.6618273, -224.4251   ],
       [ -32.87193  , -169.79399  ],
       [ -51.575623 , -199.73303  ]], dtype=float32)]
[u'ganglioneuroblastoma', u'EBV related lymphoma', array([u'ganglioneuroblastoma', u'EBV related lymphoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma'], dtype=object), array([[ 48.494843 , -28.561045 ],
       [-35.225597 ,  23.100428 ],
       [ -5.2947206, -47.980583 ],
       [-59.81255  , -30.711967 ],
       [ 21.78681  ,  24.230385 ]], dtype=float32)]
[u'ganglioneuroblastoma', u'chondrosarcoma', array([u'ganglioneuroblastoma', u'chondrosarcoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma'], dtype=object), array([[-36.142967 ,  35.570873 ],
       [ -1.2148817,  60.40437  ],
       [ 41.61364  ,  58.87918  ],
       [ -6.253625 ,   2.8271554],
       [ 34.681072 ,  15.089161 ]], dtype=float32)]
[u'ganglioneuroblastoma', u'renal carcinoma', array([u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'renal carcinoma'], dtype=object), array([[-54.16695 ,  58.82868 ],
       [-83.99246 , -19.307976],
       [-93.99793 ,  28.121748],
       [-35.143543, -31.271654],
       [-29.392193,  16.999643]], dtype=float32)]
[u'ganglioneuroblastoma', u'pseudopapilary pancreatic solid tumor', array([u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'pseudopapilary pancreatic solid tumor'], dtype=object), array([[-310.9248 ,  122.86849],
       [-315.06635,  138.1429 ],
       [-295.75897,  129.00993],
       [-309.0211 ,  152.77571],
       [-294.7456 ,  144.77553]], dtype=float32)]
[u'ganglioneuroblastoma', u'neurofibromatose', array([u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'ganglioneuroblastoma', u'ganglioneuroblastoma',
       u'neurofibromatose'], dtype=object), array([[-14.542079 ,  58.29482  ],
       [ 38.365612 ,  75.57062  ],
       [ 53.170322 ,  37.05632  ],
       [  3.1802511,  97.12412  ],
       [ 11.769772 ,  26.670979 ]], dtype=float32)]
[u'adrenal carcinoma', u'undiferenciated malignant neoplasm', array([u'adrenal carcinoma', u'undiferenciated malignant neoplasm',
       u'undiferenciated malignant neoplasm'], dtype=object), array([[-111.19659 , -700.0968  ],
       [-183.00978 , -497.40176 ],
       [  28.436274, -536.55884 ]], dtype=float32)]
[u'adrenal carcinoma', u'hemangioperycitoma', array([u'adrenal carcinoma', u'hemangioperycitoma'], dtype=object), array([[-1503.5563, -2331.022 ],
       [ 1503.556 ,  2331.0215]], dtype=float32)]
[u'adrenal carcinoma', u'neoplasia fibrohistiocitaria cutanea do tip', array([u'adrenal carcinoma',
       u'neoplasia fibrohistiocitaria cutanea do tip'], dtype=object), array([[-5838.334  ,  -285.15704],
       [ 5838.334  ,   285.15723]], dtype=float32)]
[u'adrenal carcinoma', u'EBV related lymphoma', array([u'adrenal carcinoma', u'EBV related lymphoma'], dtype=object), array([[  -0.8197952 ,  201.3528    ],
       [   0.81990963, -201.3528    ]], dtype=float32)]
[u'adrenal carcinoma', u'chondrosarcoma', array([u'adrenal carcinoma', u'chondrosarcoma'], dtype=object), array([[ 4634.1235, -6272.4316],
       [-4634.1235,  6272.4316]], dtype=float32)]
[u'adrenal carcinoma', u'renal carcinoma', array([u'adrenal carcinoma', u'renal carcinoma'], dtype=object), array([[ 5.722132  ,  0.15622883],
       [-5.722132  , -0.1562746 ]], dtype=float32)]
[u'adrenal carcinoma', u'pseudopapilary pancreatic solid tumor', array([u'adrenal carcinoma', u'pseudopapilary pancreatic solid tumor'],
      dtype=object), array([[  106.872246, -2597.3215  ],
       [ -106.87246 ,  2597.3215  ]], dtype=float32)]
[u'adrenal carcinoma', u'neurofibromatose', array([u'adrenal carcinoma', u'neurofibromatose'], dtype=object), array([[ -2419.918, -11104.741],
       [  2419.918,  11104.741]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'hemangioperycitoma', array([u'undiferenciated malignant neoplasm', u'hemangioperycitoma',
       u'undiferenciated malignant neoplasm'], dtype=object), array([[ -34.503056, -449.173   ],
       [-575.7102  ,  329.00638 ],
       [ 368.82883 ,  408.58636 ]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'neoplasia fibrohistiocitaria cutanea do tip', array([u'undiferenciated malignant neoplasm',
       u'neoplasia fibrohistiocitaria cutanea do tip',
       u'undiferenciated malignant neoplasm'], dtype=object), array([[-517.45294  ,  160.38757  ],
       [-329.84525  ,   -3.5545135],
       [-565.62585  ,  -84.05368  ]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'EBV related lymphoma', array([u'undiferenciated malignant neoplasm', u'EBV related lymphoma',
       u'undiferenciated malignant neoplasm'], dtype=object), array([[ -632.04333,  1698.2103 ],
       [  559.71075,   562.72235],
       [-1019.65625,    98.3794 ]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'chondrosarcoma', array([u'undiferenciated malignant neoplasm', u'chondrosarcoma',
       u'undiferenciated malignant neoplasm'], dtype=object), array([[  357.2377 ,  -775.3441 ],
       [ -608.2867 , -1072.9515 ],
       [ -383.29822,   -87.90764]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'renal carcinoma', array([u'undiferenciated malignant neoplasm', u'renal carcinoma',
       u'undiferenciated malignant neoplasm'], dtype=object), array([[  549.24286  , -1289.782    ],
       [ 1331.775    ,   -71.86129  ],
       [ -114.39956  ,    -3.0703793]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'pseudopapilary pancreatic solid tumor', array([u'undiferenciated malignant neoplasm',
       u'undiferenciated malignant neoplasm',
       u'pseudopapilary pancreatic solid tumor'], dtype=object), array([[-227.09505, -343.59573],
       [1157.4125 , -552.18225],
       [ 645.7622 ,  751.14264]], dtype=float32)]
[u'undiferenciated malignant neoplasm', u'neurofibromatose', array([u'undiferenciated malignant neoplasm',
       u'undiferenciated malignant neoplasm', u'neurofibromatose'],
      dtype=object), array([[ 195.01776 , -432.68478 ],
       [ 690.8871  , -346.3351  ],
       [ 368.17285 ,   39.919334]], dtype=float32)]
[u'hemangioperycitoma', u'neoplasia fibrohistiocitaria cutanea do tip', array([u'hemangioperycitoma',
       u'neoplasia fibrohistiocitaria cutanea do tip'], dtype=object), array([[ -1420.6727,  21798.621 ],
       [  1420.6727, -21798.621 ]], dtype=float32)]
[u'hemangioperycitoma', u'EBV related lymphoma', array([u'hemangioperycitoma', u'EBV related lymphoma'], dtype=object), array([[-12375.26 , -31897.637],
       [ 12375.26 ,  31897.637]], dtype=float32)]
[u'hemangioperycitoma', u'chondrosarcoma', array([u'hemangioperycitoma', u'chondrosarcoma'], dtype=object), array([[ 112.6293   ,   -3.4689362],
       [-112.6293   ,    3.4689362]], dtype=float32)]
[u'hemangioperycitoma', u'renal carcinoma', array([u'hemangioperycitoma', u'renal carcinoma'], dtype=object), array([[ 2725.8005 ,   617.82715],
       [-2725.8005 ,  -617.82715]], dtype=float32)]
[u'hemangioperycitoma', u'pseudopapilary pancreatic solid tumor', array([u'hemangioperycitoma', u'pseudopapilary pancreatic solid tumor'],
      dtype=object), array([[-2710.8157, -2439.8147],
       [ 2710.8157,  2439.8142]], dtype=float32)]
[u'hemangioperycitoma', u'neurofibromatose', array([u'hemangioperycitoma', u'neurofibromatose'], dtype=object), array([[-38685.51 ,  21814.5  ],
       [ 38685.51 , -21814.496]], dtype=float32)]
[u'neoplasia fibrohistiocitaria cutanea do tip', u'EBV related lymphoma', array([u'neoplasia fibrohistiocitaria cutanea do tip',
       u'EBV related lymphoma'], dtype=object), array([[  58.454697, -420.79938 ],
       [ -58.45488 ,  420.79938 ]], dtype=float32)]
[u'neoplasia fibrohistiocitaria cutanea do tip', u'chondrosarcoma', array([u'neoplasia fibrohistiocitaria cutanea do tip', u'chondrosarcoma'],
      dtype=object), array([[  628.3513,  1098.8357],
       [ -628.3512, -1098.8357]], dtype=float32)]
[u'neoplasia fibrohistiocitaria cutanea do tip', u'renal carcinoma', array([u'neoplasia fibrohistiocitaria cutanea do tip', u'renal carcinoma'],
      dtype=object), array([[ 2935.6616,  9296.56  ],
       [-2935.6616, -9296.56  ]], dtype=float32)]
[u'neoplasia fibrohistiocitaria cutanea do tip', u'pseudopapilary pancreatic solid tumor', array([u'neoplasia fibrohistiocitaria cutanea do tip',
       u'pseudopapilary pancreatic solid tumor'], dtype=object), array([[ 3164.2903, -1571.1595],
       [-3164.2903,  1571.159 ]], dtype=float32)]
[u'neoplasia fibrohistiocitaria cutanea do tip', u'neurofibromatose', array([u'neoplasia fibrohistiocitaria cutanea do tip',
       u'neurofibromatose'], dtype=object), array([[ 454.63913,  313.68103],
       [-454.63925, -313.6809 ]], dtype=float32)]
[u'EBV related lymphoma', u'chondrosarcoma', array([u'EBV related lymphoma', u'chondrosarcoma'], dtype=object), array([[  899.16864,  7144.8735 ],
       [ -899.1684 , -7144.874  ]], dtype=float32)]
[u'EBV related lymphoma', u'renal carcinoma', array([u'EBV related lymphoma', u'renal carcinoma'], dtype=object), array([[ -236.96643, -1232.6368 ],
       [  236.96655,  1232.6371 ]], dtype=float32)]
[u'EBV related lymphoma', u'pseudopapilary pancreatic solid tumor', array([u'EBV related lymphoma', u'pseudopapilary pancreatic solid tumor'],
      dtype=object), array([[ 281.4719  ,  -73.697685],
       [-281.4719  ,   73.697685]], dtype=float32)]
[u'EBV related lymphoma', u'neurofibromatose', array([u'EBV related lymphoma', u'neurofibromatose'], dtype=object), array([[-1007.53   ,  -434.88104],
       [ 1007.53   ,   434.8814 ]], dtype=float32)]
[u'chondrosarcoma', u'renal carcinoma', array([u'chondrosarcoma', u'renal carcinoma'], dtype=object), array([[ 203.7651 ,  718.12103],
       [-203.76517, -718.12103]], dtype=float32)]
[u'chondrosarcoma', u'pseudopapilary pancreatic solid tumor', array([u'chondrosarcoma', u'pseudopapilary pancreatic solid tumor'],
      dtype=object), array([[  3263.0981, -26958.164 ],
       [ -3263.0977,  26958.164 ]], dtype=float32)]
[u'chondrosarcoma', u'neurofibromatose', array([u'chondrosarcoma', u'neurofibromatose'], dtype=object), array([[ 2962.5518, -5772.5454],
       [-2962.5518,  5772.5454]], dtype=float32)]
[u'renal carcinoma', u'pseudopapilary pancreatic solid tumor', array([u'renal carcinoma', u'pseudopapilary pancreatic solid tumor'],
      dtype=object), array([[-547.95074,  -82.7542 ],
       [ 547.95074,   82.75442]], dtype=float32)]
[u'renal carcinoma', u'neurofibromatose', array([u'renal carcinoma', u'neurofibromatose'], dtype=object), array([[ 1975.813 , -1850.7842],
       [-1975.8127,  1850.7844]], dtype=float32)]
[u'pseudopapilary pancreatic solid tumor', u'neurofibromatose', array([u'pseudopapilary pancreatic solid tumor', u'neurofibromatose'],
      dtype=object), array([[ -946.19116, -1058.8923 ],
       [  946.19116,  1058.8918 ]], dtype=float32)]

In [139]:
print len(titles)
figure = tls.make_subplots(rows=15, cols=3)

45
This is the format of your plot grid:
[ (1,1) x1,y1 ]     [ (1,2) x2,y2 ]     [ (1,3) x3,y3 ]
[ (2,1) x4,y4 ]     [ (2,2) x5,y5 ]     [ (2,3) x6,y6 ]
[ (3,1) x7,y7 ]     [ (3,2) x8,y8 ]     [ (3,3) x9,y9 ]
[ (4,1) x10,y10 ]   [ (4,2) x11,y11 ]   [ (4,3) x12,y12 ]
[ (5,1) x13,y13 ]   [ (5,2) x14,y14 ]   [ (5,3) x15,y15 ]
[ (6,1) x16,y16 ]   [ (6,2) x17,y17 ]   [ (6,3) x18,y18 ]
[ (7,1) x19,y19 ]   [ (7,2) x20,y20 ]   [ (7,3) x21,y21 ]
[ (8,1) x22,y22 ]   [ (8,2) x23,y23 ]   [ (8,3) x24,y24 ]
[ (9,1) x25,y25 ]   [ (9,2) x26,y26 ]   [ (9,3) x27,y27 ]
[ (10,1) x28,y28 ]  [ (10,2) x29,y29 ]  [ (10,3) x30,y30 ]
[ (11,1) x31,y31 ]  [ (11,2) x32,y32 ]  [ (11,3) x33,y33 ]
[ (12,1) x34,y34 ]  [ (12,2) x35,y35 ]  [ (12,3) x36,y36 ]
[ (13,1) x37,y37 ]  [ (13,2) x38,y38 ]  [ (13,3) x39,y39 ]
[ (14,1) x40,y40 ]  [ (14,2) x41,y41 ]  [ (14,3) x42,y42 ]
[ (15,1) x43,y43 ]  [ (15,2) x44,y44 ]  [ (15,3) x45,y45 ]

In [140]:
for x in range(0, len(titles)):
    figure.append_trace(figures[x], x+1, 1)

Exception: The (row, col) pair sent is out of range. Use Figure.print_grid to view the subplot grid.

In [141]:
py.iplot(figure)